html {
    font-size: 1em;
}
body {
    line-height: 1.8rem;
}

@media screen and (min-width: 768px) {
    html {
        font-size: 1.1em;
    }
    .container {
        max-width: 50rem;
    }
}

.dark {
  color: #14fdce;
  background-color: #031e11;
}
.main {
    padding: 20px 25px;
}

@keyframes intro {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
body > .container {
    animation: intro 0.3s both;
    animation-delay: 0.15s;
}

header h1 {
    text-transform: uppercase;
    display: table-cell !important;
}

