<section class="about-me">
  <p>I’m a hacker in London.</p>

  <p>
    I create software at
    <a href="https://clearlinetech.com">Clear Line Tech</a>. I produce VR, AR
    and mobile content at <a href="https://catalystvr.com.au">Catalyst VR</a>.
  </p>

  <p>
    I write on this site and sometimes on a substack at
    <a href="https://saulhoward.substack.com/">31 Seconds</a>.
  </p>

  <p>
    From 2016–2021, I led a team at
    <a href="https://www.apple.com">Apple</a> building the CloudKit developer
    platform. Before Apple, I worked at startups around London and Asia,
    including Hailo.
  </p>

  <p>
    I produced the feature film
    <a href="https://youtu.be/-EKR9xHllEA?si=rjZptXXzQVsI6vKA">Brighton Wok</a>.
    I work on applications for
    <a href="https://dramatheory.org/">Drama Theory</a>.
  </p>

  <p>
    I’m on <a href="https://github.com/saulhoward">GitHub</a>,
    <a href="https://www.linkedin.com/in/saulhoward/">LinkedIn</a> and
    <a href="https://twitter.com/saulhoward">Twitter</a>.
  </p>
</section>
