<!doctype html>
<html lang="en-gb">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>saulhoward.com</title>
        <meta name="description" content="Saul Howard is a hacker living in London/Brighton/Bangkok.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ .Favicon  }}
        <style media="screen">
            {{ .VendorCSS  }}
        </style>
        <style media="screen">
            {{ .VendorThemeCSS  }}
        </style>
        <style media="screen">
            {{ .CustomCSS  }}
        </style>
    </head>
    <body class="hack dark noisy">
        <div class="main container ">
            <header>
                <h1>Saul Howard</h1>
            </header>
            <main>
                {{ .MainContent }}
            </main>
        </div>
    </body>
</html>
